.title {
  padding: 10px 0;
  text-align: center;
}
.show {
  padding: 20px;
}
.edit {
  position: relative;
  text-align: center;
}
.submit {
  position: absolute;
  top: 215px;
  left: 47.5%;
  padding: 0 10px;
  background-color: $light-blue;
  color: $white;
}
.btn1 {
  padding-left: 20px;
  font-size: 16px;
}
.btn2 {
  position: relative;
  top: 50px;
  left: 48.5%;
  text-align: center;
  font-size: 16px;
}
.btn3 {
  position: relative;
  top: 10px;
  left: 48.5%;
  text-align: center;
  font-size: 16px;
}
.btn4 {
  position: relative;
  top: 10px;
  left: 47.5%;
  text-align: center;
  font-size: 16px;
}
.btn7 {
  position: relative;
  top: 10px;
  left: 45%;
  text-align: center;
  font-size: 16px;
}