.signin {
  text-align: center;
}
.email {
  text-align: center;
}
.password {
  text-align: center;
}
.password-confirmation {
  text-align: center;
}
.submit {
  text-align: center;
}
.signout-submit {
  text-align: center;
}
.btn6 {
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 16px;
}
